.navbar{
    background-color:#BD2031;
}
.nav-link{
    color: rgb(227, 224, 224);
}
.nav-link:hover{
    scale: 100% ;
    font-weight: bold;
    color: yellow;
}
.navbar-collapse{
    transition: 0.7s;
}
